<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>f4ntasmic studios | {% block title %}{%endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">

    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{% url index %}">..::f4ntasmic studios::..</a>

          <ul class="nav">
              <li class="active"><a href="{% url index %}">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <h5>Sidebar</h5>
          <ul>
            {% for link in links %}
                <li><a href="{{ link.url }}">{{ link.label }}</a></li>
            {% endfor %}
          </ul>

        </div>
      </div>
      <div class="content">
        {% block content %}{% endblock %}

        <footer>
        <p>&copy; f4ntasmic studios {% now "Y" %}</p>

        </footer>
      </div>
    </div>

  </body>
</html>
