{% extends "yaba2/base.html" %}
{% block title %}Home{% endblock %}
{% block sidebar %}
  <h3>Test</h3>
{% endblock %}
{% block content %}
    {% for story in story_list %}
        <div class="row">
          <div class="span11">
              <h2>{{ story.title }}</h2>
              <p>{{ story.post|safe|truncatewords:100 }}</p>

              <p><a class="btn" href="{{ story.get_absolute_url }}">View details &raquo;</a></p>
            <p><small>Author: {{ story.author.username }}<br />
            Written: {{ story.created }}<br />
            Tags: {% for tag in story.tags.all %}<a href="{% url tag-stories tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
          </div>
        </div>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <hr>
    <div class="row">
        <span class="span4">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
